/* CSS Document */

.mask-layer {height:0;overflow:visible}


#logo {
	margin: 0 auto;
	text-align: center;
	padding: 94px 0 5px 0;
}

nav {
	text-align: center;
	/*background-color: yellow;*/
}


nav ul li {
	list-style: none;
	display: inline-block;
	margin-top:170px;
	margin-left: 24px;
	margin-bottom:0px;
	padding-bottom:2px;
	text-decoration: none;
	font-size: 14px;
	/*background-color: orange;*/
}

nav ul li a{
	text-decoration: none;
	color: #484848;
	padding-bottom: 0px;
	/*background-color: red;*/
}


nav ul li a:hover{
	color: #000000;
	/*font-size:102.58%;*/
	/*font-weight: bold;*/
	text-shadow:0 0 0.5px black
}
	

/*SUBNAV for LOVE, PORTRAITS, EDITORIAL, COMMERCIAL SECTIONs*/
.subNavLove, .subNavPortraits, .subNavEditorial, .subNavCommercial{
	text-align: center;
	display: none;
	margin-left: 120px;
}

.subNavLove ul li, .subNavPortraits ul li, .subNavEditorial ul li, .subNavCommercial ul li{
	list-style: none;
	display: inline-block;
	margin-left: 24px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}

.subNavLove ul li a, .subNavPortraits ul li a, .subNavEditorial ul li a, .subNavCommercial ul li a  {
	text-decoration: none;
	color: #484848;
}

.subNavLove ul li a:hover, .subNavPortraits ul li a:hover, .subNavEditorial ul li a:hover, .subNavCommercial ul li a:hover{
	color: #000000;
	text-shadow:0 0 0.5px black;
}

/********END OF SUBNAV for LOVE, PORTRAITS, EDITORIAL, COMMERCIAL SECTIONs ****************/
  
body {
	background: white;	
	font-family: Georgia, sans-serif;
}

#container {
	background: white;
}

.mainPicture {
	border: 2px solid black;
	margin-top: 42px;
	margin-bottom: 20px;
}

.mainPicture img {
	margin: 10px;
}

#instafeed {
	position: relative;
    top: 138px;
    left: 25px;
    width: 10px;
    height: 10px;
    /*line-height:100%;*/
}

.portfolio {
	display: block;
	position: absolute;
	top: 160px;
	right:145px;
	z-index: 10;
}

.widgets img{
	/*border: 2px solid black;*/
	margin-bottom: 20px;
}

.widgets img:hover {
	/*border: 2px dashed black;*/
}

.leftJustify {
	float: left;
}

.rightJustify {
	float: right;
}

.middleRightCol {
	padding-top: 364px;
}

.footerNav {
	text-align: center;
}

.footerNav ul li{
	padding-top: 20px;
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	text-decoration: none;
	color: black;
}


.footerNav ul li a{
	list-style: none;
	text-decoration: none;
	color: black;
}



footer p{
	text-align: center;
}

.catwedding {
	font-family: Georgia;
}

.catwedding img {
	margin-bottom: 5px;
}

#dividingLineTopPg {
	margin-top: 10px;
}

#dividingLineBottomPg {
	margin-top: 40px;
}

#pageFwdButton a h1 {
	padding-top: 40px;
	text-align: right;
	color: black;
}

#pageFwdButton a {
	text-decoration: none;
}

#nextPgArrowRight {
	padding-top: 38px;
}




