/* CSS Document */

.mask-layer {height:0;overflow:visible}


#logo {
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

nav {
	text-align: center;
	margin-top: 20px;
}


nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:0px;
	padding-bottom:2px;
	text-decoration: none;
	font-size: 14px;
	font-family: Georgia;
}

nav ul li a{
	text-decoration: none;
	color: #484848;
	padding-bottom: 0px;
}


nav ul li a:hover{
	color: #000000;
	text-shadow:0 0 0.5px black
}
	

/*SUBNAV for WEDDINGS, PORTRAITS, LIFESTYLE SECTIONs*/
.subNavWeddings, .subNavPortraits, .subNavLifestyle{
	text-align: center;
	display: none;
}

.subNavWeddings ul li, .subNavPortraits ul li, .subNavLifestyle ul li {
	list-style: none;
	display: inline-block;
	margin-left: 24px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: Georgia;
}

.subNavWeddings ul li a, .subNavPortraits ul li a, .subNavLifestyle ul li a {
	text-decoration: none;
	color: #484848;
}

.subNavWeddings ul li a:hover, .subNavPortraits ul li a:hover, .subNavLifestyle ul li a:hover {
	color: #000000;
	text-shadow:0 0 0.5px black;
}

/********END OF SUBNAV for WEDDINGS, PORTRAITS, LIFESTYLE SECTIONs ****************/
  
body {
	background: white;	
	font-family: Georgia, sans-serif;
}

#container {
	background: white;
}

.mainPicture {
	border: 2px solid black;
	margin-top: 42px;
	margin-bottom: 20px;
	padding: 0px;
}

#instafeed {
	position: relative;
    top: 138px;
    left: 25px;
    width: 10px;
    height: 10px;
}

#rates_and_services {
	font-family: Georgia;
	font-size: 18px;
	position: relative;
    top: -320px;
    left: 55px;
    width: 800px;
    height: 200px;
}

#rates_and_services a {
	color: black;
	font-weight: bold;
}

#about_Jill_top {
	font-family: Georgia;
	font-size: 18px;
	position: relative;
    top: -920px;
    left: 50px;
    width: 400px;
    height: 200px;
}

#about_Jill_bottom {
	font-family: Georgia;
	font-size: 18px;
	position: relative;
    top: -690px;
    left: 50px;
    width: 800px;
    height: 200px;
}

#about_Jill_bottom a {
	color: black;
}

.portfolio {
	display: block;
	position: absolute;
	top: 160px;
	right:145px;
	z-index: 10;
}

.widgets img{
	margin-bottom: 20px;
}

.leftJustify {
	float: left;
}

.rightJustify {
	float: right;
}

.middleRightCol {
	padding-top: 364px;
}

.footerNav {
	text-align: center;
}

.footerNav ul li{
	padding-top: 20px;
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	text-decoration: none;
	color: black;
}


.footerNav ul li a{
	list-style: none;
	text-decoration: none;
	color: black;
}



footer p{
	text-align: center;
	font-size: 10px;
}

.catwedding {
	font-family: Georgia;
}

.catwedding img {
	margin-bottom: 5px;
}

.catwedding a {
	color: black;
}

.image_box {
	font-family: Georgia;
	margin-top: 20px;
}

.image_box_bio_rates {
	font-family: Georgia;
	margin-top: 20px;
	height: 1080px;
}

#dividingLineTopPg {
	margin-top: 45px;
	margin-bottom: 25px;
}

.dividingLineNav hr {
	margin-top: 25px;
    border-top: 1.75px solid black;
}

#dividingLineBottomPg {
	margin-top: 40px;
}

#pageFwdButton a h1 {
	padding-top: 40px;
	text-align: right;
	color: black;
}

#pageFwdButton a {
	text-decoration: none;
}

#nextPgArrowRight {
	padding-top: 38px;
}


/*Index.html background images*/
#rates_img {
    background-image:url(../images/box_220x270_rates.png);
    display:block;
    height:270px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#tumblr_img {
	background-image:url(../images/box_220x150_newsletter.png);
    display:block;
    height:150px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#bio_img {
	background-image:url(../images/box_460x210_aboutjill.png);
    display:block;
    height:210px;
    overflow:hidden;
    text-indent:210%;
    white-space:nowrap;
    width:460px;
    margin-bottom: 20px;
}

#quote_img {
	background-image:url("../images/box_460x340_quote.png");
	display:block;
    height:340px;
    overflow:hidden;
    text-indent:250%;
    white-space:nowrap;
    width:460px;
    margin-bottom: 20px;
}

#blog_img {
	background-image:url("../images/box_220x440_blog.png");
	display:block;
    height:440px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#pinterest_img {
	background-image:url("../images/box_220x350_filmarchive.png");
	display:block;
    height:350px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#facebook_img {
	background-image:url("../images/box_220x150_facebook.png");
	display:block;
    height:150px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#twitter_img {
	background-image:url("../images/box_220x130_twitter.png");
	display:block;
    height:130px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#contact_img {
	background-image:url("../images/box_220x140_contact.png");
	display:block;
    height:140px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}


#instagram_img {
	background-image:url("../images/box_220x370_instagram.png");
	display:block;
    height:370px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

#raise_our_story_tumblr_img	{
	background-image:url("../images/box_220x484_projects.png");
	display:block;
    height:484px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:220px;
    margin-bottom: 20px;
}

/*End of index.html css backbround images*/


/*steve testing rslides responsive.css*/
/*.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }*/


/*Page forward and back*/
/*.rslides_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("..demo/themes/themes.gif/item_arrow.png") no-repeat left top;
  margin-top: -45px;

}


.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }*/
  /*End of rslides responsive.css*/